<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>分かち書き変換</title>
        <link rel="stylesheet" type="text/css" href="static/main.css">
    </head>
    <body>
        <h1>分かち書き変換</h1>
        <form method="POST" action="/">
            {{ form.hidden_tag() }}
            {{ form.text.label }} {{ form.text(size=10000) }}
            <br>
            <input type="submit" value="変換">
        </form>
        <br>
        <form action="/">
            <label>変換結果</label>
            <textarea>{{ rstr }}</textarea>
        </form>
        <p>Ver 0.2 (updated 2016-02-13)</p>
        <p><a href="https://github.com/mknz/pwakati">code</a></p>
    </body>
</html>
